@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Factory" asp-action="ListFactory" >
    <img src="~/image/factory.png" style="width:800px;" />
    </a>
</div>
