@model MaterialWarehouseAddViewModel

@{
}
<h2>Depoya Ürün Ekle</h2>


<form asp-controller="MaterialWarehouse" asp-action="AddMaterialWarehouse" method="post">
    
    <div class="mb-3">
        <label class="form-label">Depo Seç</label>
        <select asp-for="MaterialWarehouse.WarehouseID" class="form-control" asp-items="@(new SelectList(Model.Warehouses,"WarehouseID","Name",Model.MaterialWarehouse?.WarehouseID))">
            <option value="" >Seçiniz</option>
        </select>
        <span asp-validation-for="MaterialWarehouse.WarehouseID"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Ürün Seç</label>
        <select asp-for="MaterialWarehouse.MaterialID" class="form-control" asp-items="@(new SelectList(Model.Materials,"MaterialID","Name"))">
            <option value="">Seçiniz</option>
        </select>
        <span asp-validation-for="MaterialWarehouse.MaterialID"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Stok Adedi</label>
        <input asp-for="MaterialWarehouse.StockQuantity" class="form-control" />
        <span asp-validation-for="MaterialWarehouse.StockQuantity"></span>
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>


</form>